<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Form Validations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <h1>Hello Everyone</h1>
        <p>Welcome to the Django Development</p>


        <h2>Forms and Validations</h2>
    
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
        </form>
    

    </body>
</html>